
<nav class="navbar navbar-light bg-light m-2">
  <div class="container m-1 p-1">
    <button class=" btn btn btn-outline-secondary" *ngIf="isAdd === false" (click)="onAdd()" ><span class="btn-label"><i class="bi bi-person-plus"></i></span> Ajouter</button>
    <button class="btn btn btn-outline-warning" *ngIf="isAdd === true" (click)="onAdd()" ><span class="btn-label"><i class="bi bi-x-lg" ></i></span> Annuler</button>

  </div>
  </nav>
<div class="container">


  <form [formGroup]="fg_list_visite" (ngSubmit)="onAddVisite()">
    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
    style="width:100% !important" class=" table hover order-column">
      <thead class="table-dark">
        <tr>
          <th>Id visite</th>
          <th>Date de la visite</th>
          <th>Docteur</th>
          <th>type visite</th>
          <th>Diagnostic</th>
          <th>Examen</th>
          <th>Delete</th>

        </tr>
      </thead>
      <tbody>
        <tr *ngIf="isAdd === true">

          <td>0</td>
          <td><input type="date" class="form-control form-control-sm" id="date_visite" formControlName="date_visite"></td>
          <td><input type="text" class="form-control form-control-sm" id="docteur" formControlName="docteur"></td>
          <td>

            <select class="form-select form-select-sm mb-3" id="type_visite" formControlName="type_visite">
              <option selected>Choose...</option>
              <option value="Embauche">Embauche</option>
              <option value="Systimatique">Systimatique</option>
              <option value="AT">AT</option>
              <option value="Spontannée">Spontannée</option>
              <option value="Reprise">Reprise après maladie</option>
            </select></td>
          <td><input type="text" class="form-control form-control-sm" id="diagnostic" formControlName="diagnostic"></td>
          <td> <button type="submit" class="btn btn-sm btn-info" [disabled]="fg_list_visite.invalid">Ajouter</button> </td>
          <td></td>
        </tr>
        <ng-template [ngIf]="visites?.length != 0">
          <tr *ngFor="let visite of visites">
            <td>{{ visite.id_visite }}</td>
            <td>{{ visite.date_visite | date }}</td>
            <td>{{ visite.docteur }}</td>
            <td>{{ visite.type_visite }}</td>
            <td>{{ visite.diagnostic }}</td>
            <td> <button type="button" class="btn btn-sm btn-outline-success" (click)="onExamen(visite.type_visite)"><span  aria-hidden="true"><i class="bi bi-card-checklist"></i></span></button> </td>
            <td> <button type="button" class="btn  btn-sm btn-outline-warning" (click)="$event.stopPropagation();onDelete(visite.id_visite)" >
                  <span  aria-hidden="true"><i class="bi bi-trash-fill"></i></span></button> </td>
          </tr>
        </ng-template>
      </tbody>
      <tbody *ngIf="visites?.length == 0">
        no data!
      </tbody>
    </table>

  </form>
</div>
